<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::title">    
</head>
<body>
    <!-- Header fragment -->
	<header th:replace="~{fragments/header :: header}"></header>
    <div class="container p-4 pt-10" style="margin-top: 40px;">
    <!-- Loop over items -->
	    <div class="row">
	       <div th:each="item : ${items}" th:object="${item}" class=" col-md-3 mt-4 cart-array">
	            <div class="card" th:data-itemid="*{id}" >
	                <!-- Item Image -->
	                <img th:src="*{photoUrl}" class="card-img-top"  alt="Item Image">
	                <div class="card-body" >
	                    <!-- Item Name -->
	                    <!-- <h5 class="card-title" th:text="${item.name}"></h5> -->
	                    <h5 class="card-title" th:text="*{name}"></h5>
	                    <!-- Item Price -->
						<p th:text="'Price: ' + ${#numbers.formatInteger((item.price), 0, 'COMMA')} + ' Ks'"></p>
						<div class="d-flex justify-content-between">
							<!-- Add to Cart Button -->
		                    <button th:data-itemid="*{id}" th:data-itemname="*{name}" th:data-itemprice="*{price}"  class="add-cart-btn btn btn-primary">Add to Cart</button>
						</div>	                 
	                </div>
	            </div>
	       </div>
	    </div>
     <!-- End loop -->    
    </div>

    <!-- Footer fragment -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
     <script>
     $(document).ready(function() {
		const initCart = ()=>{
			//  Initialize cart badge
			const carts = JSON.parse(localStorage.getItem("carts")|| "[]"); 
			$("#cart-badge").text(carts.length);

			// btn style disabled
			$(".cart-array").children().each(function(i,object){
				const itemId = $(object).data("itemid");
				const [exist] = carts.filter((cart)=>cart.id == itemId);
				if(exist){
					console.log("itemId",itemId);
					$(`button[data-itemid=${itemId}]`).addClass("disabled");
				} 
			})
		} 
		initCart();
    	 /* Add To Cart btn function  */
    	 $(".add-cart-btn").click(function(){
    		 const itemId = $(this).data("itemid");
    		 const itemName = $(this).data("itemname");
    		 const itemPrice= $(this).data("itemprice");
    		 const item = {
    				 id: itemId,
    				 name: itemName,
    				 price: itemPrice,
    				 qty: 1
    		 }
			const carts = JSON.parse(localStorage.getItem("carts")|| "[]");
			const [exist] = carts.filter((cart)=>cart.id == item.id);
			$(this).toggleClass("disabled");
			if(exist){
				const filterdCarts = carts.filter((cart)=> cart.id != item.id);
				localStorage.setItem("carts",JSON.stringify(filterdCarts));
				$("#cart-badge").text(filterdCarts.length);
				return;
			}
			const updatedCarts = [...carts,item];
			localStorage.setItem("carts",JSON.stringify(updatedCarts));
			$("#cart-badge").text(updatedCarts.length);
    	 });
    	 
		$(".qty-decrease").click(function(){
			const itemId = $(this).data("itemid");
			const qtyElement = $(`div[qty="${itemId}"]`);
			const qty = parseInt(qtyElement.text());
			if(qty>0){
				qtyElement.text(qty-1);
			}			
		});
		
		$(".qty-increase").click(function(){
			const itemId = $(this).data("itemid");
			const qtyElement = $(`div[qty=${itemId}]`);
			const qty = parseInt(qtyElement.text());
			qtyElement.text(qty+1);			
		});
     });
           
    </script>        
</body>
</html>