<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <!-- Additional footer styles or scripts -->
</head>
<body>
	<footer th:fragment="footer" class="bg-dark text-light py-3">
	   <div class="container">
	       <p class="mb-0 text-center">&copy; 2024 Online Shop. All rights reserved.</p>
	       <nav>
	           <ul class="list-inline mb-0 d-flex justify-content-between">
	               <li class="list-inline-item"><a href="/about" class="text-light">About Us</a></li>
	               <li class="list-inline-item"><a href="/contact" class="text-light">Contact Us</a></li>
	               <!-- Additional footer links -->
	            </ul>
	        </nav>
	    </div>
	</footer>
</body>
</html>
